html {
	box-sizing: border-box;
}

#container {
	width: 500px;
}

#imgBoard {
	width: 404px;
	height: 200px;
}

#title {
	font-size: 0.75rem;
}

#rule {
	font-size: 0.9rem;
}

select option {
	font-size: 0.8rem;
}